{% extends 'course/layout.html' %}
{% block body %}
<style>
  *{
    box-sizing: border-box;
    background-color: rgb(222, 213, 200);
  }
  table {
    text-align: center;
  }
  table, td, th {
    border: 1px solid rgb(118, 110, 89);
    border-collapse: collapse;
    padding: 8px;
    color: rgb(108, 102, 92);
  }

  th:nth-child(even), td:nth-child(odd) {
      background-color: rgb(215, 208, 188);
  }
  td:nth-child(even), th:nth-child(odd) {
      background-color: rgb(201, 195, 177);
  }
  td > a:link, a:visited {
    text-decoration: none;
    display: inline-block;
    color: aliceblue;
    background: none;
  }
  td > a:active {
    color: rgb(105, 102, 82);
  }
  .tab {
    list-style-type: none;
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  .tab > a:link, a:visited {
    background-color: rgb(114, 114, 103);
    border-radius: 10px;
    transition: ease-out 0.3s;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
  }
  .tab > a:hover {
    background-color: rgb(166, 150, 129);
  }
</style>

<div class="tab">
  <a href="{% url 'index'%}">Home</a> |
  <a href="#">Course List</a> |
  <a href="{% url 'course:enrollresult'%}">Enrollment Result</a> |
  <a href="{% url 'login'%}">Log out</a>
</div>

<h1 style="text-align:center; color: rgb(106, 101, 91);">Course List</h1>
<center>
  <table>
    <tr>
      <th>Course</th>
      <th>Code</th>
      <th>Semester</th>
      <th>Seat Quota</th>
      <th>Detail</th>
      <th>Status</th>
    </tr>
    {% for course in courses %}
    <tr>    
      <td>{{ course.course }}</td>
      <td>{{ course.course_code }}</td>
      <td>{{ course.semester }} / 2022</td>
      <td>{{ course.seat_quota }}</td>
      <td><a href="{% url 'course:detail' course.id %}">details</a></td>
      {% if course.status %}
      <td>empty</td>
      {% else %}
      <td>full</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</center>

{% endblock %}