{% block body %}
<style>
  * {
    background-color: rgb(206, 200, 191);
  }
  h1 {
    background-color:#ebe7de;
    padding:15px;
    text-align:center;
  }
  .menu {
    float: left;
    width: 20%;
    text-align: center;
      }
  .menu a {
    background-color: #797265;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 150px;
    color: rgb(209, 202, 202);
  }
  .main {
    margin-left: 250px;
    height: 500px;
  } 
  a {
    width: 100px;
    background: #fff;
    border:none;
    outline: none;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
    text-decoration: none;
  }
  a:hover, a:focus {
    background: #fff;
    width: 200px;
    color: #5b5953;
  }
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  input {
    width: 100px;
    height: 50px;
    background: rgb(255, 255, 255);
    border:none;
    outline: none;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
    text-decoration: none;
  }
  input:hover, input:focus {
    background: rgb(169, 83, 83);
    width: 200px;
    color: #f8f8f6;
  }
</style>

<div>
    <h1>Details</h1>
</div>
  
<div style="overflow:auto">
    <div class="menu">
      <a href="{% url 'index'%}">Home</a>
      <a href="{% url 'course:enrollresult'%}">Enrollment Result</a>
      <a href="{% url 'course:index' %}">Course List</a>
      <a href="{% url 'logout' %}">Logout</a>
    </div>

    <div class="main">
      <h2>{{course.course_code}}</h2>
      <p style="font-weight: bold;">{{course.course}}</p>
      <p>{{course.detail}}</p>
    </div>
</div>
<center>
  <div class="btn">
    {% if enrolled %}
    <form method="post" action="{% url 'course:withdraw' course.id %}">
      {% csrf_token %}
      <input type='hidden' value="{{course.id}}" name="courseID">
      <input type="submit" value="Withdraw">
    </form>
    {% else %}
    {% if course.status%}
    <form method="post" action="{% url 'course:enroll' course.id %}">
      {% csrf_token %}
      <input type='hidden' value="{{course.id}}" name="courseID">
      <input type="submit" value="Enrollment">
    </form>
    {% else %}
    <form method="post" action="{% url 'course:enroll' course.id %}">
      {% csrf_token %}
      <input type='hidden' value="{{course.id}}" name="courseID">
      <input type="submit" disabled value='Enrollment'>
    </form>
    {% endif %}
    {% endif %}
  </div>
</center>

<footer style="height: 100px;">
  <div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">© chom faii &#9829;</div>
</footer>

{% endblock %}