{% extends 'login/layout.html' %}
{% block body %}
<style>
    * {
        background-color: rgb(206, 200, 191);
    }
    h1 {
        background-color:#ebe7de;
        
        padding:15px;
        text-align:center;
    }
    .menu {
            float: left;
            width: 20%;
            text-align: center;
        }
    .menu a {
        background-color: #797265;
        padding: 8px;
        margin-top: 7px;
        display: block;
        width: 150px;
        color: rgb(209, 202, 202);
    }
    .main {
        margin-left: 250px;
        height: 500px;
    } 
    a {
        width: 100px;
        background: #fff;
        border:none;
        outline: none;
        border-radius: 5px;
        transition: .5s;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.4);
        text-decoration: none;
    }
    a:hover, a:focus {
        background: #fff;
        width: 200px;
        color: #5b5953;
    }
    
</style>

<div style="background-color:#e5e5e5;padding:15px;text-align:center;">
    <h1>W E L C O M E !</h1>
</div>
  
<div style="overflow:auto">
    <div class="menu">
      <a href="#">Home</a>
      <a href="{% url 'course:enrollresult' %}">Enrollment Result</a>
      <a href="{% url 'course:index' %}">Course List</a>
      <a href="{% url 'logout' %}">Logout</a>
    </div>
  
    <div class="main">
        <h3>Username: {{ request.user.username }}</h3>
        <h3>Email: {{ request.user.email }}</h3>
    </div>
</div>
  
<div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">© chom faii</div>

{% endblock %}